@import url('fonts.css');

body {
    font-size: 16px;
    max-width: 1440px;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #000;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1em 0;
}

h3 {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
    position: relative;
}

.header-menu h1 {
    font-family: 'Kablammo';
    font-size: 2rem;
    color: #fff;

}

.navbar {
    font-family: 'Teko';
    display: flex;
    gap: 2em;
}

.navbar a {
    font-size: 1.1rem;
    transition: all 0.5s;
}

.navbar a:hover {
    font-size: 1rem;
}

.header-menu .burger-menu {
    display: none;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 1em 0;
    gap: 1em;
    margin-top: 2em;
}

.footer-navbar {
    display: flex;
    gap: 1em;
    border-bottom: #fff solid 1px;
    padding: 1em;
    font-size: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.wraper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

/* Chat style */

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25em;
    display: flex;
    height: 3em;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1em;
    flex-grow: 1;
    border-radius: 2em;
    margin: 0.25em;
}

#input:focus {
    outline: none;
}

#form>button {
    background: green;
    border: none;
    padding: 0 1em;
    margin: 0.25em;
    border-radius: 3px;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
}

#messages {
    position: relative;
    height: 20em;
    border: rgba(0, 0, 0, 0.15) solid 1px;
}

#messages>li {
    padding: 0.5em 1em;

}

#messages>li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
    ;
}

#messages .worcker-btn {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 0.5em 0;
    font-size: .8rem;
}

@media screen and (max-width: 860px) {
    .header-menu {
        flex-direction: column;
        gap: 1em;
    }

    .navbar {
        gap: 0.5em;
    }
}

@media screen and (max-width: 768px) {

    html {
        font-size: 14px;
    }

}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }

    .header-menu {
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .header-menu .burger-menu {
        display: flex;
        font-size: 1.5rem;
    }

    .navbar {
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 80%;
        left: 0;
        gap: 0.5em;
        width: 100%;
        font-size: 1rem;
        z-index: 20;
    }

}

